#beverages,#bread,#care,#cleaners,#dairy,#dry,#frozen,#health,#meat,#other,#paper,#produce,#tin{display:none;padding:10px;background-color:#f1f1f1;margin:10px 0}
.row.main{padding-top:10px;justify-content:center}
.logo{font-family:Caveat,cursive;color:#65b7ff}
h3{font-size:1.2em;font-family:'open sans',sans-serif;color:#65b7ff}
span{font-size:1.1em}
input:focus{outline:2px solid #65b7ff}
.searchbox{display:flex;justify-content:center}
input#add-button{margin-left:5px}
.autocomplete{position:relative;display:inline-block}
input{border:1px solid transparent;background-color:#f1f1f1;padding:10px;font-size:16px}
input[type=text]{background-color:#f1f1f1;width:100%}
input[type=submit]{background-color:#65b7ff;color:#fff}
.autocomplete-items{position:absolute;border:1px solid #d4d4d4;border-bottom:none;border-top:none;z-index:99;top:100%;left:0;right:0}
.autocomplete-items div{padding:10px;cursor:pointer;background-color:#fff;border-bottom:1px solid #d4d4d4}
.autocomplete-items div:hover{background-color:#e9e9e9}
.autocomplete-active{background-color:#1e90ff!important;color:#fff}